name: Continuous Integration

on:
  push:
    branches: ["master"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: aiken-lang/setup-aiken@v1
        with:
          version: v1.1.21
      # - run: aiken fmt --check
      - run: aiken check -S -m tests/bootstrap -m tests/configuration
      # - run: aiken build
